<!DOCTYPE html>
<html lang="en">
<head>
    <title>Write Blog</title>
    <link rel="stylesheet" href="/static/bootstrap-5.3.3-dist/css/bootstrap.min.css">
    <script src="/static/bootstrap-5.3.3-dist/js/bootstrap.min.js"></script>
</head>
<body>
    <div class="container">
        <h1>Write a new post</h1>
        <form action="{{ url_for('write_blog') }}" method="post">
            <div class="mb-3">
                <label for="postTitle" class="form-label">Title</label>
                <input type="text" class="form-control" id="postTitle" name="post_title" required>
            </div>
            <div class="mb-3">
                <label for="postContent" class="form-label">Content</label>
                <textarea class="form-control" id="postContent" name="post_content" rows="3" required></textarea>
            </div>
            <div class="mb-3">
                <label for="postImage" class="form-label">Image URL</label>
                <input type="text" class="form-control" id="postImage" name="post_image">
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
</body>
</html>