<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Projects</title>
    <link rel="stylesheet" href="/static/bootstrap-5.3.3-dist/css/bootstrap.min.css">
    <script src="/static/bootstrap-5.3.3-dist/js/bootstrap.min.js"></script>
</head>
<body>
    <div class="container">
        <h1>Projekte</h1>
        <div class="row">
            {% for project in projects %}
            <div class="col-md-4">
                <div class="card">
                    <img src="{{ project.project_image }}" class="card-img-top" alt="{{ project.project_name }}">
                    <div class="card-body">
                        <h5 class="card-title">{{ project.project_name }}</h5>
                        <p class="card-text">{{ project.project_description }}</p>
                        <a href="/project/{{ project.id }}" class="btn btn-primary">Mehr sehen</a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</body>
</html>