<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Project Details</title>
    <link rel="stylesheet" href="/static/bootstrap-5.3.3-dist/css/bootstrap.min.css">
    <script src="/static/bootstrap-5.3.3-dist/js/bootstrap.min.js"></script>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="/projects">Projekte</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/projects">Projekte</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/blog">Blog</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container">
        <h1>{{ project.project_name }}</h1>
        <img src="{{ project.project_image }}" class="card-img-top" alt="{{ project.project_name }}">
        <p>{{ project.project_description }}</p>
        {% if project.project_download %}
        <a href="/download/{{ project.id }}" class="btn btn-primary">Download</a>
        {% endif %}
        {% if project.github_link and project.github_link != 'https://' %}
        <a href="{{ project.github_link }}" class="btn btn-secondary" target="_blank">GitHub</a>
        {% endif %}
        {% if user_in_session and user_in_session.isauthor %}
        <a href="/edit_project/{{ project.id }}" class="btn btn-info">Bearbeiten</a>
        {% endif %}
    </div>
</body>
</html>