<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Project Details</title>
    <link rel="stylesheet" href="/bootstrap-5.3.3-dist/css/bootstrap.min.css">
    <script src="/bootstrap-5.3.3-dist/js/bootstrap.min.js"></script>
</head>
<body>
    <div class="container">
        <h1>{{ project.project_name }}</h1>
        <img src="{{ project.project_image }}" class="card-img-top" alt="{{ project.project_name }}">
        <p>{{ project.project_description }}</p>
        {% if project.project_download %}
        <a href="/download/{{ project.id }}" class="btn btn-primary">Download</a>
        {% endif %}
        {% if project.github_link and project.github_link != 'https://' %}
        <a href="{{ project.github_link }}" class="btn btn-secondary" target="_blank">GitHub</a>
        {% endif %}
        {% if user_in_session and user_in_session.isauthor %}
        <a href="/edit_project/{{ project.id }}" class="btn btn-info">Bearbeiten</a>
        {% endif %}
    </div>
</body>
</html>